block nav
    nav.amber.darken-1(role="navigation")
        .nav-wrapper.container
            a.brand-logo#logo-container Logo
            ul.right.hide-on-med-and-down
                li
                    a(href="#") Home
                li
                    a(href="#") Contact

            ul.side-nav#nav-mobile
                li
                    a(href="#") Home
                li
                    a(href="#") Contact