.fixed {
    margin-top: 5px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.v100 {
    height: 100vh;
}
.v80 {
    height: 80vh;
}
.v50 {
    height: 50vh;
}

.v30 {
    height: 30vh;
}